@font-face {
    font-family: 'bebas';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source Code';
    src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

html {
    cursor: none;
}

body {
    background-color: #000;
    color: white;

    font-family: 'source Code', Arial, sans-serif;
    font-size: clamp(14px, 2vw, 18px);
}

/* canvas позади всех элементов, но не мешает указателю */
#background {
    height: 100%;
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;

    pointer-events: none;
    z-index: 0;
}

.star-obstacle {
    pointer-events: auto;
    z-index: 1;
}


#cursor {
    position: fixed;
    left: 0;
    top: 0;

    pointer-events: none;
    opacity: 0;

    z-index: 100;
    mix-blend-mode: difference;
    user-select: none;

    transition: all 0.01s;

    img {
        width: calc(2vw + 2vh / 2);
    }

    & #sircCursor {
        width: calc(2vw + 2vh / 2);
        height: calc(2vw + 2vh / 2);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        transition: all 0.2s;
    }
}

#openingBlock {
    font-family: 'bebas';
    user-select: none;
}

#navbar {
    background-color: #00000099;

    width: 100vw;
    height: 70px;

    position: sticky;
    top: 0px;

    backdrop-filter: blur(5px);
}

#shot1 {
    height: 100vh;

    font-size: clamp(40px, 6vw, 600px);
    line-height: clamp(40px, 20vh, 600px);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 5;
}

#shot2 {

    position: absolute;
    top: calc(-2vw + -2vh / 2);
    left: calc(50% - 2vw);

    mix-blend-mode: difference;
    overflow: visible;
    z-index: 4;

    & img {
        width: clamp(25px,
                calc(2vw + 2vh / 2),
                600px);
        transform:
            rotate(-90deg) translateY(-50%);
    }
}

#shot3 {
    background-color: transparent;

    width: 20vw;
    height: 20vw;

    border: 0.5vw solid white;
    border-radius: 50%;

    position: absolute;
    left: calc(50% - 10.5vw);
    top: 105vh;

    overflow: hidden;
    z-index: 5;
}

#line {
    background-color: #fff;

    width: 0.5vw;
    height: calc(20vw + 1px);

    position: absolute;
    left: calc(50% - 0.3vw);
    top: 104vh;

    z-index: 4;
}

#shot4 {
    background-color: #000;

    width: 2vw;
    height: 120vh;

    position: absolute;
    top: -4vh;
    left: calc(50% - 1.1vw);

    z-index: 4;


    & #circle {
        background-color: #fff;

        width: 2vw;
        height: 2vw;

        border-radius: 50%;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sitePart {
    width: clamp(200px,
            80vw,
            2160px);
}

#sitePart1 {
    padding-top: 20vh;

    & h1 {
        font-family: bebas;
        letter-spacing: 0.1rem;
        font-weight: 100;
    }
}